includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src